# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# VSCode/IDE
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
